
page-chosen-friend {
  #avatar {
      border-radius: 400px;
      background-position: center;
      padding: 20px;
      width: 400px;
      height: 400px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}
