<<<<<<< HEAD

page-chosen-friend {
  #avatar {
      border-radius: 400px;
      background-position: center;
      padding: 20px;
      width: 400px;
      height: 400px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}
=======

page-chosen-friend {
  #avatar {
      border-radius: 400px;
      background-position: center;
      padding: 20px;
      width: 400px;
      height: 400px;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}
>>>>>>> e8fba67409599249a3edb518c1939c2c11e4fcce
