page-friendselected {
height:100%;
width:100%;
}

#av{
  display: block;
  width:50% !important;
  height : 50% !important;
  max-width: 300px !important;
  max-height: 300px !important;
  margin-left: auto;
  margin-right: auto;
}


#here{
  font-size: 40px !important;
  text-align: center;
}
