
page-home {
    .intro {
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 14px;
    }

    .btn_container {
      padding-top: 14px;

      button {
          background: #3b5998;
      }
    }

    .extraPage{
      text-align: center;
      border-bottom: 1px solid #e2e2e2;
      padding-bottom: 14px;
    }

    .extraButton{
      padding-top: 14px;

      button {
          background: darkred;
          color: black;
      }
    }
}
