page-fb-details {
        .extra{
          text-align: center;
          border-bottom: 1px solid #e2e2e2;
          padding-bottom: 14px;
        }
        img{
          border-radius: 15px;
        }
}
